* {
  box-sizing: border-box;
  margin: 0;
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  color: rgb(64, 64, 64);
}

.container {
  width: 60vw;
  min-width: 600px;
  max-width: 1024px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: skyblue;
}

#title {
  margin: 0 auto 0 2rem;
  color: white;
  font-size: 1.4rem;
  font-style: italic;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem 1.2rem;
}

nav a:hover {
  background-color: rgb(164, 213, 233);
}

main {
  background-color: white;
  padding: 2rem;
}

#page-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  font-weight: 600;
  padding-bottom: 1rem;
}

tbody tr:nth-child(odd) {
  background-color: rgb(248, 248, 248);
}

td {
  padding: 0.8rem 0;
}

td:nth-child(1) {
  padding-left: 0.4rem;
}

td:nth-child(5) {
  text-align: right;
  padding-right: 0.4rem;
}

td a {
  font-size: 0.9rem;
  text-decoration: none;
  background-color: skyblue;
  border-radius: 0.2rem;
  color: white;
  padding: 0.4rem;
}

td a:hover {
  background-color: rgb(164, 213, 233);
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 3rem 0 1rem 0;
}

.expired {
  color: rgb(255, 32, 32);
}

label {
  font-weight: 600;
  margin-right: 0.2rem;
}

input, select, option {
  color: rgb(64, 64, 64);
}

input[type=submit] {
  display: block;
  margin-top: 0.6rem;
}

input[type=submit], #ticket-btn {
  color: white;
  background-color: skyblue;
  font-size: 0.95rem;
  font-weight: 600;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
}

input[type=submit]:hover, #ticket-btn:hover {
  background-color: rgb(164, 213, 233);
}

input[type=datetime-local] {
  margin-right: 0.4rem;
}

#dest-form {
  margin-bottom: 1.6rem;
}

#airport-select, #seat-id, #flight-number {
  margin-right: 1.4rem;
}

#ticket-btn {
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
}

input[type=text], input[type=number] {
  max-width: 5rem;
}

#add-flight label, #add-ticket label {
  display: inline-block;
  margin-bottom: 1rem;
}
