<%- include('../partials/header') %>

<form action="/flights" method="POST">
    <label for="airport-select">Airport</label>
    <select name="airport" id="airport-select">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN" selected>DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
    <label for="airline-select">Airline</label>
    <select name="airline" id="airline-select">
        <option value="">- select airline -</option>
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
    </select>
    <label for="flight-number">Flight No.</label>
    <input type="number" name="flightNo" id="flight-number" value="10" min="10" max="9999">
    <label for="depart-date">Depature</label>
    <input type="datetime-local" name="departs" id="depart-date" value="<%= defaultDate %>">
    <input type="submit" value="Add Flight">
</form>

<%- include('../partials/footer') %>
